@model IEnumerable<_2014118187_ENT.Entities.Cuenta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumeroCuenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseDatosId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroCuenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseDatosId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Pin }) |
            @Html.ActionLink("Details", "Details", new { id=item.Pin }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Pin })
        </td>
    </tr>
}

</table>
