@model IEnumerable<_2014118187_ENT.Entities.Retiro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ATM.DescripcionATM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasedeDatos.BasedeDatosId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DispensadorEfectivo.DispensadorEfectivoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pantalla.PantallaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teclado.TecladoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PantallaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TecladoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DispensadorEfectivoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasedeDatosId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ATMId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ATM.DescripcionATM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BasedeDatos.BasedeDatosId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DispensadorEfectivo.DispensadorEfectivoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pantalla.PantallaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teclado.TecladoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PantallaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TecladoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DispensadorEfectivoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BasedeDatosId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ATMId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RetiroId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RetiroId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RetiroId })
        </td>
    </tr>
}

</table>
