@model _2014118187_ENT.Entities.Teclado

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Teclado</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TecladoId, "TecladoId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TecladoId", String.Empty)
                @Html.ValidationMessageFor(model => model.TecladoId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ATMId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ATMId)
                @Html.ValidationMessageFor(model => model.ATMId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RetiroId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RetiroId)
                @Html.ValidationMessageFor(model => model.RetiroId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
