@model _2014118187_ENT.Entities.ATM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ATM</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.DescripcionATM, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescripcionATM)
                @Html.ValidationMessageFor(model => model.DescripcionATM)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RanuraDepositoId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RanuraDepositoId)
                @Html.ValidationMessageFor(model => model.RanuraDepositoId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TecladoId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TecladoId)
                @Html.ValidationMessageFor(model => model.TecladoId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DispensadorEfectivoId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DispensadorEfectivoId)
                @Html.ValidationMessageFor(model => model.DispensadorEfectivoId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PantallaId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PantallaId)
                @Html.ValidationMessageFor(model => model.PantallaId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RetiroId, "RetiroId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RetiroId", String.Empty)
                @Html.ValidationMessageFor(model => model.RetiroId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BasedeDatosId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BasedeDatosId)
                @Html.ValidationMessageFor(model => model.BasedeDatosId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
